@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* nav */
nav{
    z-index: 20;
    top: 0;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
    transition: .3s all ease;
    color: #272D38;
}
nav h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
.nav-scroll{
    background-color: white;
    padding: 18px 0;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}
.list-nav{
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
}
.list-nav li {
    position: relative;
    list-style: none;
    margin-right: 20px;
}
.list-nav li::after{
    content: '';
    width: 0;
    border: 1px solid;
    border-color: white;
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: .3s all ease;
}
.list-nav li:hover::after{
    border-color: #272D38;
    width: 100%;
}
.list-nav li a {
    color: #272D38;
    text-decoration: none;
}
.list-nav li a:focus {
    font-weight: 700;
}

@media screen and (max-width: 425px) {
    nav{
        box-sizing: border-box;
        justify-content: space-between;
        padding: 25px 20px;
    }
    nav h2 {
        font-size: 20px;
    }
    .nav-scroll{
        padding: 18px 15px;
    }
    .list-nav{
        display: none;
    }
}

/* nav mobile */
.hamburger-menu{
    display: none;
}
.list-nav-mobile{
    display: none;
}
.bg-list-nav-mobile{
    display: none;
}
@media screen and (max-width: 425px) {
    .hamburger-menu{
        display: block;
    }
    .list-nav-mobile{
        background-color: white;
        top: 0;
        right: 0;
        width: 0;
        min-height: 100vh;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: .3s all ease;
    }
    .click-list-nav-mobile{
        width: 70vw;
    }
    .list-nav-mobile li {
        font-family: 'Inter', sans-serif;
        color: #272D38;
        list-style: none;
        margin: 10px 0;
    }
    .list-nav-mobile li a {
        color: #272D38;
        text-decoration: none;
    }
    .bg-list-nav-mobile{
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 0;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.514);
        transition: .3s all ease;
    }
    .click-bg-list-nav-mobile{
        width: 100vw;
    }
}
/* nav mobile */

/* end nav */


/* main container */
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.left-main-container{
    width: 420px;
    margin-right: 60px;
}
.left-main-container h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 20px;
    color: #272D38;
}
.left-main-container p {
    font-family: 'Inter', sans-serif;
}
.left-main-container button{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin-top: 30px;
    padding: 14px 25px;
    border: none;
    background-color: #8EADD5;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s all ease;
}
.left-main-container button:hover{
    transform: scale(0.95);
}
.left-main-container button:active{
    transform: scale(0.9);
}
.left-main-container button:focus{
    border: 1px solid;
    border-color: #2f6bb9;
}
.right-main-container img{
    width: 450px;
}
@media screen and (min-width: 1441px) {
    .left-main-container{
        width: 600px;
    }
    .left-main-container h1{
        font-size: 60px;
    }
    .right-main-container img{
        width: 600px;
    }
}
@media screen and (max-width: 768px) {
    .left-main-container{
        width: 75vw;
        text-align: center;
        margin-right: 0;
    }
    .right-main-container{
        display: none;
    }
}
@media screen and (max-width: 425px) {
    .main-gradient{
        display: none;
    }
    .main-container{
        flex-direction: column;
    }
    .left-main-container{
        width: 90vw;
        padding-top: 70px;
        margin-bottom: 30px;
    }
    .left-main-container h1 {
        font-size: 38px;
    }
    .right-main-container{
        display: inline;
    }
    .right-main-container img{
        width: 85vw;
    }
}

.main-gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 350px;
    background: conic-gradient(from 180deg at 50% 50%, #2f6bb9 0deg , rgba(196,196,196,0) 360deg);
    opacity: 0.5;
    filter: blur(80px);
}
/* end main container */

/* truested */
#trusted{
    padding: 30px 0;
    margin-bottom: 50px;
}
#trusted p{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: #667085;
    text-align: center;
    margin-bottom: 15px;
}
#trusted .trusted-logo{
    background-color: #F6F6F6;
    margin: 0 auto;
    padding: 20px 0;
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
}
#trusted .trusted-logo img {
    transition: .2s all ease;
}
#trusted .trusted-logo img:hover {
    transform: scale(1.08);
}
@media screen and (max-width: 768px) {
    #trusted .trusted-logo{
        width: 95vw;
    }
}
/* end truested */

/* services */
#services {
    position: relative;
}
#services h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 40px;
}
.child-services{
    padding: 0 20px;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.child-services-content{
    width: 470px;
}
.child-services-content:hover img{
    transform: translateX(20px);
}
.child-services-content:hover h2{
    transform: translateY(10px);
}
.child-services-content img{
    transition: .2s all ease;
}
.child-services-content h2{
    color: #272D38;
    font-size: 45px;
    margin-bottom: 30px;
    transition: .3s all ease;
}
.child-services-content p {
    margin-bottom: 30px;
}
.child-services-image img{
    width: 450px;
    position: relative;
}
@media screen and (min-width: 1441px) {
    .child-services-content{
        width: 500px;
    }
    .child-services-content h2 {
        font-size: 55px;
    }
    .child-services-image img{
        width: 450px;
    }
}
@media screen and (max-width: 1024px) {
    .child-services-image img{
        width: 380px;
    }
    .child-services-content{
        width: 390px;
    }
    .child-services-content h2 {
        font-size: 40px;
    }
}
@media screen and (max-width: 768px) {
    .child-services-image {
        display: none;
    }
    .child-services-content{
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 425px) {
    #services h1 {
        font-size: 25px;
    }
    .child-services-content{
        width: 90vw;
    }
    .child-services-content h2 {
        font-size: 35px;
    }
}

.services-gradient{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
    width: 400px;
    height: 350px;
    background: conic-gradient(from 180deg at 50% 50%, #2f6bb9 0deg , rgba(196,196,196,0) 360deg);
    opacity: 0.5;
    filter: blur(80px);
}
/* end services */

/* Testimony */
#testimony {
    font-family: 'Inter', sans-serif;
    padding: 50px 0;
    text-align: center;
    color: #272D38;
}
#testimony h1{
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 40px;
}

.wrap-card-testimony{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card-testimony{
    margin: 10px;
    font-family: 'Inter', sans-serif;
    border-radius: 20px;
    background-color: #F6F6F6;
    width: 320px;
    padding: 20px;
    box-sizing: border-box;
    color: #272D38;
    transition: .2s all ease;
}
.card-testimony:hover{
    transform: scale(1.04);
}
.card-testimony img{
    margin-bottom: 10px;
}
.card-testimony h5{
    margin-bottom: 10px;
    font-size: 19px;
}

@media screen and (max-width: 768px) {
    .card-testimony{
        margin: 20px 10px;
    }
}
@media screen and (max-width: 425px) {
    .card-testimony{
        width: 90vw;
        margin: 20px 0;
    }
}
/* end Testimony */

/* Contact */
#contact{
    font-family: 'Inter', sans-serif;
    color: #272D38;
    padding-top: 40px;
    padding-bottom: 50px;
}
#contact article{
    border-radius: 15px;
    background-color: #F6F6F6;
    width:  min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box;
}
.content-contact{
    margin-left: 40px;
    width: 400px;
}
.content-contact h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.content-contact button{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin-top: 30px;
    padding: 14px 25px;
    border: none;
    background-color: #8EADD5;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s all ease;
}
.content-contact button:hover{
    transform: scale(0.95);
}
.content-contact button:active{
    transform: scale(0.9);
}
.content-contact button:focus{
    border: 1px solid;
    border-color: #2f6bb9;
}

@media screen and (max-width: 1024px) {
    #contact article img{
        width: 300px;
    }
    .content-contact{
        width: 300px;
    }
}
@media screen and (max-width: 768px) {
    .content-contact h1 {
        font-size: 30px;
    }
}
@media screen and (max-width: 768px) {
    #contact article{
        padding: 20px 15px;
        flex-wrap: wrap;
    }
    .content-contact{
        margin-left: 0;
        width: 85vw;
    }
}
/* end Contact */


/* Suggestion */
.sugestion{
    font-family: 'Inter', sans-serif;
    color: #272D38;
    background-color: #F6F6F6;
    width: 1280px;
    margin: auto;
    border-radius: 15px;
    padding: 20px 40px;
    box-sizing: border-box;
    margin-bottom: 50px;
}
.sugestion h1{
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}
.sugestion-content{
    font-family: 'Inter', sans-serif;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sugestion-form{
    width: 400px;
}
.sugestion-form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.sugestion-form label {
    margin-bottom: 10px;
}
.sugestion-form input {
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid;
}
.sugestion-form textarea {
    border-radius: 10px;
}
.sugestion-form button{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    padding: 14px 35px;
    border: none;
    background-color: #8EADD5;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s all ease;
}
.sugestion-form button:hover{
    transform: scale(0.95);
}
.sugestion-form button:active{
    transform: scale(0.9);
}
.sugestion-biodata h3{
    text-align: center;
    margin-bottom: 20px;
}
.suges-img{
    width: max-content;
    margin: auto;
}
.sugestion-biodata img{
    width: 200px;
    margin-bottom: 20px;
}
.sugestion-biodata p {
    margin-bottom: 10px;
}
@media screen and (min-width: 1280px) {
    .sugestion{
        width: 1280px;
    }
}
@media screen and (min-width: 1024px) {
    .sugestion{
        width: 90vw;
    }
}
@media screen and (max-width: 768px) {
    .sugestion{
        width: 90vw;
    }
    .sugestion-content{
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .sugestion-biodata{
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 640px) {
    .sugestion{
        padding: 20px 15px;
    }
    .sugestion h1 {
        font-size: 25px;
    }
}
/* end Suggestion */

/* Footer */
footer{
    font-family: 'Inter', sans-serif;
    background-color: #F6F6F6;
    padding-top: 60px;
}

.content-footer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.content-footer p {
    text-align: left;
    font-size: 18px;
    color: #272D38;
}
.content-footer aside ul li {
    list-style: none;
    margin-bottom: 15px;
}

footer p {
    padding: 20px 0;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .content-footer{
        padding: 0 20px;
    }
    .content-footer aside{
        margin-right: 20px;
    }
}
/* end Footer */